@tailwind base;
@tailwind components;
@tailwind utilities;

label{
    font-weight: 500;
    margin-bottom: .5rem;
}
input{
    padding: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}